.footer {
  padding: 50px 0 65px 0;

  .divider {
    height: 1px;
    width: 100%;
    background-color: #FFFFFF;
    opacity: 0.1;
  }

  .footer-links {
    margin-top: 50px;
    margin-bottom: 84px;
    justify-content: space-between;

    @media screen and (max-width: 1399px) {
      margin-top: 32px;
    }

    .footer-social {
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    .service {
      margin-left: 80px;

      &-name {
        font-family: "Poppins", serif;
        font-weight: 700;
        font-size: 16px;
        font-style: normal;
        line-height: 24px;
      }

      &-items {
        margin-top: 20px;

        &-link {
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          margin-bottom: 14px;
        }
      }
    }
  }


  .footer-extra {
    margin-top: 20px;
    color: #ffffff;
    font-size: 12px;

    .year-indicator {
      margin-right: auto;
      line-height: 18px;
      opacity: 0.8;
    }

    .term {
      a {
        margin-left: 30px;
      }
    }
  }
}
